{% extends "employee/base.html" %}
{% block title %} Adding a employee {{ employee.name }} - {{ block.super }}{% endblock %}
{% block add-breadcrumbs %} {{ '> Add New' }}{% endblock %}
{% block content %}
    <div id="content-main">
        <div class="module" id="changelist">
            <form method="POST" class="post-form" action="{% url 'employee:add' %}">
                {% csrf_token %}
                <div class="container">
                    <h2>Employee General Information</h2>
                    <table>
                        {{ info_form.as_table }}
                    </table>
                    <h2>Employee Address Information</h2>
                    <table>
                        {{ address_form.as_table }}
                    </table>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}